apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-api
  labels:
    app: flask-api
spec:
  replicas: 4
  selector:
    matchLabels:
      app: flask-api
  template:
    metadata:
      labels:
        app: flask-api
    spec:
      imagePullSecrets:
      - name: acr-secret
      containers:
      - name: flask-api
        image: acraks8vng.azurecr.io/flask-api:0951550faa8a5ead4862ef84695e184e48b1c064
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
